<div class="container mt-3">

    {{#each blogs}}
    <div class="blog">
        <a href="/blogpost/{{this.slug}}" class="text-decoration-none text-dark">
            <h2>{{this.title}}</h2>
        </a>
    </div>
    <!--{{this.title}}-->
    {{/each}}

</div>